%footer
  #top-footer-links
    .container
      .footer-search
        %form{:id => 'footer-search-form', :class => 'search-form', :method => 'get', :action => 'http://www.solidfire.com/search-results'}
          %label{:for => 'query-footer'}
          %input{:id => 'query', :class => 'nav-search', :type => 'text', :placeholder => 'Search', :name => 'q'}
      #footer-column-wrapper
        #footer-column-container
          .col1
            %div.column-widths
              %h3 Storage System
              %ul
                %li
                  = link_to 'Storage System Overview', '/storage-system/'
                %li
                  = link_to 'Scale-Out', '/storage-system/scale-out/'
                %li
                  = link_to 'Guaranteed Performance', '/storage-system/guaranteed-performance/'
                %li
                  = link_to 'QoS Benchmark', '/storage-system/qos-benchmark/'
                %li
                  = link_to 'Automated Management', '/storage-system/automated-management/'
                %li
                  = link_to 'High Availability', '/storage-system/high-availability/'
                %li
                  = link_to 'In-Line Efficiency', '/storage-system/in-line-efficiency/'
                %li
                  = link_to 'Product Specifications', '/storage-system/product-specifications/'
                %li
                  = link_to 'Competitive Comparisons', '/storage-system/competitive-comparisons/'
          .col2
            %div.column-widths
              %h3 Solutions
              %ul
                %li
                  = link_to 'Solutions Overview', '/solutions/'
                %li
                  = link_to 'Cloud Orchestration', '/solutions/cloud-orchestration/'
                %li
                  = link_to 'Database', '/solutions/database/'
                %li
                  = link_to 'VDI', '/solutions/vdi/'
                %li
                  = link_to 'VMware Solutions', '/solutions/vmware-solutions/'
                %li
                  = link_to 'Agile Infrastructure', '/solutions/agile-infrastructure/'
                %li
                  = link_to 'Data Protection', '/solutions/data-protection/'
                %li
                  = link_to 'Service Providers', '/solutions/service-providers/'
          .col3
            %div.column-widths

              %h3 Resources
              %ul
                %li
                  = link_to 'Resources Overview', '/resources/'
                %li
                  = link_to 'Documentation', '/resources/?type=Resource-Document'
                %li
                  = link_to 'Videos', '/resources/?type=Resource-Video'
                %li
                  = link_to 'Case Studies', '/resources/?suggestion=025e670d-a7a0-4a00-aa39-4de67f9be47b'
                %li
                  = link_to 'Webinars', '/about/webinars/'
                %li
                  = link_to 'Events', '/about/events/'
                %li
                  = link_to 'Newsletter', '/about/newsletter/'
              .additional-resources
                %h3 Additional Resources
                %ul
                  %li
                    = link_to 'Blog', '/blog'
                  %li
                    = link_to 'Support', '/support'
                  %li
                    = link_to 'Contact Us', '/contact/'
                  %li
                    = link_to 'How to Buy', '/get-started/'
          .col4
            %div.column-widths
              %h3 Company
              %ul
                %li
                  = link_to 'Company Overview', '/about/'
                %li
                  = link_to 'News', '/about/news/'
                %li
                  = link_to 'Press Releases', '/about/press-releases/'
                %li
                  = link_to 'Analyst Reviews', '/about/analyst-reviews/'
                %li
                  = link_to 'Customers', '/about/customers/'
                %li
                  = link_to 'Channel Partners', '/about/channel-partners/'
                %li
                  = link_to 'Technology Partners', '/about/technology-partners/'
                %li
                  = link_to 'Management', '/about/management/'
                %li
                  = link_to 'Board', '/about/board/'
                %li
                  = link_to 'Investors', '/about/investors/'
                %li
                  = link_to 'Careers', '/about/careers/'
  #bottom-section
    .container
      .ft-btm-col1
        .logo
      .ft-btm-col2
        #social-wrapper
          .social-container
            = link_to 'Twitter', 'https://twitter.com/solidfire', :target => '_blank', :class => 'twitter', :title => 'Twitter'
          = link_to 'Linkedin', 'https://www.linkedin.com/company/solidfire-inc.', :target => '_blank', :class => 'linkedin', :title => 'Linkedin'
          = link_to 'Google +', 'https://plus.google.com/+Solidfire/posts', :target => '_blank', :class => 'gplus', :title => 'Google +'
          = link_to 'Facebook', 'https://www.facebook.com/SolidFire', :target => '_blank', :class => 'facebook', :title => 'Facebook'
      .ft-btm-col3
        = link_to 'Terms', '/terms'
        +
        = link_to 'Privacy', '/legal/privacy'
        &copy;
        = Time.now.year