%header.page-header.clearfix
  .header-nav.clearfix
    .column-1
      #logo
        = link_to(image_tag("global/@2x-solidfire-logo.png", :class => "img-responsive"), "/", :id => "solidfire-header-logo")
    .column-2.clearfix
      .navigation-container.clearfix
        .searchbox.pull-right
          %form{:action => 'http://www.solidfire.com/search-results', :method => 'GET', :id => 'header-search-form', :class => 'search-form'}
            %label{:class => 'js-q-toggle q-toggle'}
            %input{:class => 'nav-search', :id => 'q', :name => 'q', :type => 'text'}
        %nav{:class => 'global-nav'}
          %ul{:class => 'level1 pull-right'}
            %li.drop-down
              = link_to 'Storage System', '/storage-system/'
              .level2.one-column
                %ul
                  %li
                    = link_to 'Storage System Overview', '/storage-system/'
                  %li
                    = link_to 'Scale-Out', '/storage-system/scale-out/'
                  %li
                    = link_to 'Guaranteed Performance', '/storage-system/guaranteed-performance/'
                  %li
                    = link_to 'QoS Benchmark', '/storage-system/qos-benchmark/'
                  %li
                    = link_to 'Automated Management', '/storage-system/automated-management/'
                  %li
                    = link_to 'High Availability', '/storage-system/high-availability/'
                  %li
                    = link_to 'In-Line Efficiency', '/storage-system/in-line-efficiency/'
                  %li
                    = link_to 'Product Specifications', '/storage-system/product-specifications/'
                  %li
                    = link_to 'Competitive Comparisons', '/storage-system/competitive-comparisons/'
                .nav-end-cap.padded.grey
            %li.drop-down
              = link_to 'Solutions', '/solutions/'
              .level2.two-columns.clearfix
                %ul.nav-column
                  %li
                    = link_to 'Solutions Overview', '/solutions/'
                  %li
                    = link_to 'Cloud Orchestration', '/solutions/cloud-orchestration/'
                    %ul.level3
                      %li
                        = link_to 'OpenStack', '/solutions/cloud-orchestration/openstack/'
                      %li
                        = link_to 'CloudStack', '/solutions/cloud-orchestration/cloudstack/'
                      %li
                        = link_to 'Flexiant', '/solutions/cloud-orchestration/flexiant/'
                      %li
                        = link_to 'OnApp', '/solutions/cloud-orchestration/onapp/'
                  %li
                    = link_to 'Database', '/solutions/database/'
                    %ul.level3
                      %li
                        = link_to 'Oracle', '/solutions/database/oracle/'
                      %li
                        = link_to 'MySQL', '/solutions/database/mysql/'
                      %li
                        = link_to 'Microsoft SQL Server', '/solutions/database/mssql/'
                      %li
                        = link_to 'MongoDB', '/solutions/database/mongodb/'
                  %li
                    = link_to 'VDI', '/solutions/vdi/'
                    %ul.level3
                      %li
                        = link_to 'VMware Horizon View', '/solutions/vdi/vmware-horizon-view/'
                      %li
                        = link_to 'Citrix XenDesktop', '/solutions/vdi/citrix-xendesktop/'
                %ul.nav-column
                  %li
                    = link_to 'VMware Solutions', '/solutions/vmware-solutions/'
                  %li
                    = link_to 'Agile Infrastructure', '/solutions/agile-infrastructure/'
                    %ul.level3
                      %li
                        = link_to 'AI for VMware', '/solutions/agile-infrastructure/virtual-infrastructure/'
                      %li
                        = link_to 'AI for OpenStack', '/solutions/agile-infrastructure/openstack/'
                  %li
                    = link_to 'Data Protection', '/solutions/data-protection/'
                  %li
                    = link_to 'Service Providers', '/solutions/service-providers/'
                    %ul.level3
                      %li
                        = link_to 'Fueled by SolidFire', '/solutions/service-providers/fueled-by-solidfire/'
                      %li
                        = link_to 'Managed Dedicated SAN', '/solutions/service-providers/managed-dedicated-san/'
                      %li
                        = link_to 'Infrastructure as a Service', '/solutions/service-providers/infrastructure-as-a-service/'
                      %li
                        = link_to 'Desktop as a Service', '/solutions/service-providers/desktop-as-a-service/'
                      %li
                        = link_to 'Database as a Service', '/solutions/service-providers/database-as-a-service/'
                %b.nav-clear
                .nav-end-cap.padded.grey
            %li.drop-down
              = link_to 'Resources', '/resources/'
              .level2.right
                %ul
                  %li
                    = link_to 'Resources Overview', '/resources/'
                  %li
                    = link_to 'Documentation', '/resources/?type=Resource-Document'
                  %li
                    = link_to 'Videos', '/resources/?type=Resource-Video'
                  %li
                    = link_to 'Case Studies', '/resources/?suggestion=025e670d-a7a0-4a00-aa39-4de67f9be47b'
                  %li
                    = link_to 'Whitepapers', '/resources/?type=Resource-Whitepaper'
                  %li
                    = link_to 'Webinars', '/about/webinars/'
                  %li
                    = link_to 'Events', '/about/events/'
                  %li
                    = link_to 'Newsletter', '/about/newsletter/'
                %b.nav-clear
                  .nav-end-cap.padded.grey
                    = link_to(image_tag("global/@2xSaaSebookFeature.png", :class => "img-responsive"), "http://info.solidfire.com/saas-ebook.html", :id => "ebook-image")
            %li.drop-down
              = link_to 'Company', '/about/'
              .level2.two-columns.right
                %ul.nav-column
                  %li
                    = link_to 'Company Overview', '/about/'
                  %li
                    = link_to 'News', '/about/news/'
                  %li
                    = link_to 'Press Releases', '/about/press-releases/'
                  %li
                    = link_to 'Analyst Reviews', '/about/analyst-reviews/'
                  %li
                    = link_to 'Customers', '/about/customers/'
                  %li
                    = link_to 'Careers', '/about/careers/'
                %ul.nav-column
                  %li
                    = link_to 'Channel Partners', '/about/channel-partners/'
                  %li
                    = link_to 'Technology Partners', '/about/technology-partners/'
                  %li
                    = link_to 'Management', '/about/management/'
                  %li
                    = link_to 'Board', '/about/board/'
                  %li
                    = link_to 'Investors', '/about/investors/'
                  %li
                    = link_to 'Contact Us', '/contact/'
                %b.nav-clear
                .nav-end-cap.red
                  = link_to(image_tag("global/@2xWeAreHiringGraphic.png", :class => "img-responsive img-block img-we-are-hiring"), "/about/careers/", :id => "solidfire-hiring-image")
            %li
              = link_to 'Blog', '/blog/'
            %li
              =link_to 'Support', '/support/'
            %li.nav-button
              %b
                %span
                  = link_to 'Get Started', '/get-started/', :class => 'nav-button-item'
      .mobile-menu-actions.mobile-menu
        %i.mobile-search-icon
        %b.mobile-menu-indicator
          MENU
        %b.mobile-menu-toggle
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar