#home-hero-area

#home-content
  .container
    .col1
      %h2 left nav
    .col2
      %h1= t 'views.home.h1'
      %h2 middle
      .icon-bubbles4
    .col3
      %h2 right nav
  .container
    .col1
      %h2 left nav
    .col2
      %h1= t 'views.home.h1'
      %h2 middle
      .icon-bubbles4
    .col3
      %h2 right nav
  .container
    .col1
      %h2 left nav
    .col2
      %h1= t 'views.home.h1'
      %h2 middle
      .icon-bubbles4
    .col3
      %h2 right nav
#home-content-wide
  .container
    .col6
      full row six
    .col62
      full row six last
    .col1
      %h2 left nav wide
    .col2
      %h1= t 'views.home.h1'
      %h2 middle
      .icon-bubbles4
    .col3
      %h2 right nav wide

