#board
  .container
    .full-row
      %h1 Board of Directors
    .full-row
      %h3 Dave Wright
      %p
        = image_tag 'company/davewrightbw115.jpg', :align => 'left'
        Dave Wright left Stanford in 1998 to help start GameSpy Industries, a leader in online video game media, technology, and software. While at GameSpy, Dave led the team that created a backend infrastructure powering thousands of games and millions of gamers. GameSpy merged with IGN Entertainment in 2004 to create one of the largest Internet gaming & entertainment media companies.  Dave served as Chief Architect for IGN and lead technology integration with FIM / MySpace after IGN was acquired by NewsCorp in 2005.
      %p
        In 2007 Dave founded Jungle Disk, a pioneer and early leader in cloud-based storage and backup solutions for consumers and businesses.  Jungle Disk was acquired by leading cloud provider Rackspace in 2008 and Dave worked closely with the Rackspace Cloud division to build a cloud platform supporting tens of thousands of customers. In December 2009 Dave left Rackspace to start SolidFire.
      %hr
      %h3 Bill Chambers
      %p
        = image_tag 'company/bill1.jpg', :align => 'left'
        Bill Chambers specializes in creating and developing markets for innovative storage technologies. Bill has more than 20 years of executive and management experience at high technology startups and Fortune 500 companies. This includes serving as vice president of the LeftHand Networks Division in the HP StorageWorks organization.
      %p
        Bill founded and served as the president and CEO of LeftHand Networks prior to its acquisition by HP. He led the company through three rounds of successful venture financing and development of the storage industry's first IP SAN solution. Prior to Bill's LeftHand Networks experience, he held leadership roles including President and CEO of GE Fanuc Asia Pacific, a joint venture between General Electric Inc. and Fanuc Ltd. of Japan.Currently, Bill is serving on the SolidFire Board of Directors. SolidFire, is a provider of all-solid-state (SSD) primary storage systems for cloud service providers.
      %hr
      %h3 Ron Bernal
      %p
        = image_tag 'company/ron_bernal.jpg', :align => 'left'
        Ron joined NEA in 2010 as a Venture Partner and focuses on information technology and alternative energy technology investments. Prior to joining NEA, Ron was a Partner at Sequel Venture Partners where he focused on cleantech, enterprise infrastructure and enterprise software investments. While at Sequel, he led the firm's investments in HelioVolt and Buzzwire. Ron previously served as a Venture Partner at Sutter Hill Ventures, where he led the firm's investments in Data Domain, Drobo, ProStor, LifeSize, Indicative and Redseal Systems. Prior to joining Sutter Hill Ventures, Ron worked for Cisco Systems as Vice President of Operations for the Product Technology Groups and the Service Provider Line of Business. He joined Cisco following the acquisition of Growth Networks in 2000, where he was President and CEO. Ron co-founded Growth Networks, a fabless Internet switching fabric semiconductor company, in 1998 while serving as an entrepreneur-in-residence at NEA. Prior to working with NEA, he spent more than seven years with Silicon Graphics, Inc. (SGI) in roles of increasing responsibility, including Senior Vice president and General Manager of the $1 billion-plus server division and President of the MIPS group, the microprocessor subsidiary of SGI. Ron was also Vice President of Engineering and COO of Edge Computer, a computer company he co-founded in 1983.
      %p
        A strong advocate of alternative energy technologies, Ron is a founding member and chairman of the Colorado Cleantech Industry Association and serves on the Colorado School of Mines Advisory, Colorado State University Ventures and NREL VC advisory boards. He holds a bachelor's degree in electrical engineering from DeVry Institute of Technology.
      %hr
      %h3 Art Marks
      %p
        = image_tag 'company/MarksIMGSmall.JPG', :align => 'left'
        Art Marks received his first email address in 1979 while working at GE Information Systems.  Since switching to venture capital in 1984, he has enjoyed working with new technologies and entrepreneurs.  Art has practiced both the art and science of venture capital for nearly 30 years.  He regards entrepreneurs as modern day heroes.
      %p
        Art's present company responsibilities include Domain Holdings, EnterpriseDB, Jumptap, Parature, SafeNet, SolidFire, Videology (f.k.a. TidalTV), and Vubiquity (f.k.a. Avail-TVN).  He is involved in media, Internet marketing, IT infrastructure and security-related companies. He is currently on the board of Venture Philanthropy Partners.  He is a member of the University of Michigan Engineering Advisory Council as well as the Stanford Law School Board of Visitors.
      %p
        Art is a student and teacher of entrepreneurial CEOs.  Prior to Valhalla, Art was a general partner at New Enterprise Associates (NEA).  He joined NEA in 1984 as a General Partner with the launch of NEA III and was active there through NEA X.  He was responsible for creating NEA's technology practice and was directly involved in over 60 portfolio company investments while at NEA.
      %p
        Prior to his role at NEA, Art held several significant operating positions at General Electric.  He served as the General Manager of X-Ray products at General Electric's Medical Systems division and as Senior Vice President of GE Information Services (GEIS).  He was also President of the Software Products Operation of GEIS. Prior to General Electric, Art held several marketing, sales and finance positions at Baxter Laboratories.
      %p
        Art received a Masters in Business Administration with high distinction (Baker Scholar) from the Harvard University Graduate School of Business and a Bachelor of Science in Industrial Engineering from the University of Michigan.
      %p
        Past investments include Advertising.com (AOL), Intersolv (MERANT), Clarify, eXcelon, Amisys (HBOC), ATML (Virata), InSoft (Netscape), IndusRiver Networks (Enterasys), Call Technologies (3Com), Progress Software, Trilogy, Inc., and WNP Communications (NextLink).
      %p
        Art, his wife and children reside in Potomac, Maryland.  He enjoys fly-fishing, sailing, military history and golf.  The best way to reach him is by email.
      %hr
      %h3 Harry Weller
      %p
        = image_tag 'company/harryweller.jpg', :align => 'left'
        Harry focuses on early stage consumer, enterprise and energy technology investing. He is frequently recognized as one of America's top venture capitalists with recent honors including the Forbes "Midas List", Washingtonian's "Titans of Technology" and Business Insider's "Top 5 East Coast VCs".
      %p
        Prior to joining NEA, Harry was a Partner at FBR Technology Venture Partners where he learned the costs and benefits of a bubble! Early in his career, Harry managed  technology initiatives in the energy, financial and telecommunications industries with several consulting firms including the Boston Consulting Group. Prior to his business career, Harry served as an aviator in the U.S. Navy. Harry received his MBA from Harvard Business School and his bachelor's degree in Physics from Duke University.
      %p
        Harry serves on the board of the Mid-Atlantic Venture Association (MAVA), is a past Chairman of MAVA Capital Connection, and co-founded the Young Mid-Atlantic Venture Association (YAVA).
      %hr
      %h3 Phil Bronner
      %p
        = image_tag 'company/bio_bronner_2.jpg', :align => 'left'
        Philip Bronner joined Novak Biddle Venture Partners in 1999 and is focused on investments in information technology. Prior to joining Novak Biddle he founded a media technology company, and served as a management consultant with McKinsey & Co. in New York. He  advised high-tech clients on corporate strategy and worked as a software engineer at IBM.
      %p
        Phil has been named one of Washington, D.C. area's 100 "Tech Titans". Phil earned a BS in Computer Science from Carnegie Mellon University; a Juris Doctorate from the University of Pennsylvania's School of Law; and a Master of Business Administration from the Wharton School at the University of Pennsylvania.
      %p
        Phil currently serves on the Alumni Advisory Board for Carnegie Mellon's School of Computer Science and is a board member for In2Books, a Washington, DC-based reading and literacy program.
      %hr
      %h3 Jay Chong
      %p
        = image_tag 'company/jaychongsm1.jpg', :align => 'left'
        Jay joined Samsung Ventures, the investment arm of Samsung Group, in 2010 after spending 10 years at Intel in various marketing and business development roles. He launched multiple mobility products such as the second generation Centrino, Pentium M, and Pentium 4-M and also managed APAC PC accounts and executive relationships. During his final three years at Intel he was on an assignment in Shanghai, China, leading Intel's corporate strategy of incubating local PC OEMs and ODMs. He built a business development team and provided marketing, engineering, and strategy supports to help the local PC OEMs and ODMs to grow their core competencies. Before Intel he lead a sales team at International Rectifier in Korea, developing new businesses in telecommunication, consumer electronics, and automotive. At Samsung Ventures he has invested in SeaMicro (acquired by AMD), Tilera, Raydiance, and NextIO in addition to SolidFire. Jay received his BS in Mechanical Engineering from UC Berkeley and MBA from the Johnson Graduate School of Management at Cornell.
      %hr





