@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,300italic,400normal,500normal,600normal,600italic,900normal);
@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

// breakpoints for devices
$desktop: 980px;
$tablet-desktop: 768px 980px;
$tablet: 768px;
$phone: 480px;
$small: 320px;
$tablet-max: max-width 768px;
$phone-max: max-width 480px;
$small-max: max-width 320px;

// this function calculates rem values
@function calculate-rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

// adds a pixel value first for ie < 9
@mixin font-size($size) {
  font-size: $size; font-size: calculate-rem($size);
}
