@import "variables";

#board {
  width:100%;
  position: relative;
  float: left;
  margin-top: 100px;
}

#board .container {
  background-color:transparent;
  @include container(960px);
}

#board .full-row {
  @include span(12 of 12);
}

#board .container .col1 {
  @include span(2 of 12);
}

#board .container .col2 {
  @include span(8 of 12);
  @include clearfix;
}

#board .container .col3 {
  @include span(2 of 12 last);
}

#board .container .full-row h1 {
  text-align: center;
  @include font-size(42px);
}

#board .container .full-row img {
  float: left;
  margin: 4px 25px 10px 0
}