@import "normalize";
@import "compass";
@import "susy";
@import "breakpoint";

// Configuring Susy Defaults
$susy: (
  global-box-sizing: border-box,
  use-custom: (rem: true)
);

@include border-box-sizing;

.container {
  @include container;
  @include clearfix;
}

#home-hero-area {
  background: image-url('home/home-hero-image.png') no-repeat;
  position: relative;
  float:left;
  width: 100%;
  height: 600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home-content {
  width:100%;
  position: relative;
  float: left;
}

#home-hero-area .container {
  @include container;
  @include clearfix;
  background-color:transparent;
}

#home-hero-area .container .col1 {
  @include span(2 of 12);
}

#home-hero-area .container .col2 {
  @include span(8 of 12);
  @include clearfix;
}

#home-hero-area .container .col3 {
  @include span(2 of 12 last);
}

#home-content .container {
  background-color:transparent;
  @include container(960px);
}

#home-content .container .col1 {
  @include span(2 of 12);
}

#home-content .container .col2 {
  @include span(8 of 12);
  @include clearfix;
}

#home-content .container .col3 {
  @include span(2 of 12 last);
}

#home-content-wide {
  width:100%;
  position: relative;
  float: left;
}

#home-content-wide .container {
  background-color:transparent;
  @include container(1170px);
}

#home-content-wide .container .col1 {
  @include span(2 of 12);
}

#home-content-wide .container .col12 {
  @include span(12 of 12);
}

#home-content-wide .container .col2 {
  @include span(8 of 12);
  @include clearfix;
}

#home-content-wide .container .col3 {
  @include span(2 of 12 last);
}

#home-content-wide .container .col6 {
  @include span(6 of 12);
}

#home-content-wide .container .col62 {
  @include span(6 of 12 last);
}



















.ag1 {
  @include span(2 of 10);
}

.ag2 {
  @include span(6 of 10);
  @include clearfix;
}

.ag3 {
  @include span(2 of 10 last);
}

.ag4 {
  @include span(3 of 6);
}

.ag5 {
  @include span(3 of 6 last);
}

.ag6 {
  @include span(2 of 6);
}

.ag7 {
  @include span(4 of 6 last);
  @include clearfix;
}

.ag8 {
  @include span(2 of 4);
}

.ag9 {
  @include span(2 of 4 last);
}

.ag10 {
  clear: both;
}

/**
 * Styles for AG grids & Container
 */

.container {
  background-color: #fbeecb;
}

.ag {
  @include border-radius(5px);
}

.ag1, .ag3 {
  background-color: #71dad2;
}

.ag2 {
  background-color: #fae7b3;
}

.ag4,.ag5,.ag8,.ag9 {
  background-color: #ee9e9c;
}

.ag6 {
  background-color: #f09671;
}

.ag7 {
  background-color: #f6d784;
}

.ag10 {
  background-color: #ea9fc3;
}

/**
 * Text Styles
 */
h1 {
  text-align: center;
  font-family: 'Open Sans', helvetica;
  font-weight: 300;
  color: #222;
}

h2 {
  text-align: center;
  font-size: 1rem;
  font-weight: normal;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
}




