@font-face {
  font-family: 'icomoon';
  src:font-url('icomoon/icomoon.eot?v=20140922');
  src:font-url('icomoon/icomoon.eot?v=20140922#iefix') format('embedded-opentype'),
  font-url('icomoon/icomoon.svg?v=20140922#icomoon') format('svg'),
  font-url('icomoon/icomoon.woff?v=20140922') format('woff'),
  font-url('icomoon/icomoon.ttf?v=20140922') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bubbles4:before {
  content: "\e970";
}

.icon-users:before {
  content: "\e972";
}

.icon-stats-dots:before {
  content: "\e99b";
}

.icon-stats-bars:before {
  content: "\e99c";
}

.icon-trophy:before {
  content: "\e99e";
}

.icon-rocket:before {
  content: "\e9a5";
}

.icon-meter:before {
  content: "\e9a6";
}

.icon-lab:before {
  content: "\e9aa";
}

.icon-power:before {
  content: "\e9b5";
}

.icon-sphere:before {
  content: "\e9c9";
}

