@import "variables";

// Configuring Susy Defaults
$susy: (
        global-box-sizing: border-box,
        use-custom: (rem: true),
        columns: 12,
);

@include border-box-sizing;

.container {
  @include container;
  @include clearfix;
}

#site-content {
  width: 100%;
  padding:0 20px;
}

h1{
  color: #555555;
  @include font-size(42px);
  line-height: 1em;
  padding-bottom: .5em;
  font-weight: 200;
  text-rendering: optimizelegibility;
}

h3 {
  @include font-size(28px);
  font-size: 28px;
  font-weight: 400;
}

h2 {
  @include font-size(24px);
}

p {
  @include font-size(18px);
  font-family: "Source Sans Pro",sans-serif;
  margin: 0;
  padding-top: 10px;
  line-height: 1.2em;
  font-weight: 300;
  color: #333;
}

.full-row hr {
  background-color: #EEE;
  margin: 35px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid white;
  border: 0;
  clear: both;
  height: 1px;
}

// content area

#content-area {
  width:100%;
  position: relative;
  float: left;
  margin-top: 100px;
}

#content-area .container {
  background-color:#FFF;
  @include container(960px);
}

#content-area .full-row {
  @include span(12 of 12);
}

// footer styles

footer {
  width:100%;
  position: relative;
  float: left;
  margin-top: 100px;
  padding: 0 20px;
}

footer.active {
  position: absolute;
  background-color: #d3d3d3;
  margin-top: 40px;
}

footer h3 {
  color: #565455;
  font-size: 14px;
  font-weight: 400;
  margin: 42px 0 14px 0;
}

footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer ul li {
  margin-top: 6px;
}

footer a, .ft-btm-col3 {
  color:#565455;
  line-height:1.3em;
  font-size: 12px;
  margin-bottom: 15px;
  -webkit-font-smoothing: antialiased;
}

footer .additional-resources {
  width: 100%;
}

footer #footer-column-wrapper {
  text-align:left;
}

footer #footer-column-container {
  margin-left:15%;
}

footer .column-widths {
  width: 100%;
}

footer .container {
  background-color:transparent;
  @include container(960px);
}

footer .container .col1 {
  @include span(3 of 12);
}

footer .container .col2 {
  @include span(3 of 12);
  @include clearfix;
}

footer .container .col3 {
  @include span(3 of 12);
  @include clearfix;
}

footer .container .col4 {
  @include span(3 of 12 last);
}

footer #bottom-section {
  width:100%;
  position: relative;
  float: left;
  margin-top: 30px;
}

footer #bottom-section .container {
  border-top: solid 1px #bbb;
}

footer #bottom-section .container .ft-btm-col1 {
  @include span(2 of 12);
  margin-top:20px;
}

footer #bottom-section .container .ft-btm-col2 {
  width: 65%;
  margin-top:20px;
  text-align: center;
  float: left;
  margin-right: 1.69492%;
}

footer #bottom-section .container .ft-btm-col3 {
  width: 16%;
  margin-top:20px;
  text-align: right;
  float: right;
  margin-right: 0;
}

footer #bottom-section  .logo {
    text-indent: -9999em;
    background-image: image-url("global/logo-footer@2x.png");
    width: 129px;
    height: 15px;
    background-size: auto 100%;
    display: block;
    background-repeat: no-repeat;
  }

footer #social-wrapper {
  display: block;
  float: left;
  list-style: none;
  width: 100%;
}

footer .social-container {
  margin: 0 auto;
  width:100px;
}

footer a.twitter {
  background-image: image-url("global/social-footer@2x.png");
  background-position: 0 0;
  width: 30px;
  height: 28px;
  background-size: auto 100%;
  text-indent: -9999em;
  float: left;
}

footer a.linkedin {
  background-image: image-url("global/social-footer@2x.png");
  width: 30px;
  height: 22px;
  background-position: -30px 0;
  margin-left: 0;
  background-size: auto 100%;
  text-indent: -9999em;
  float: left;
}

footer a.gplus {
  background-image: image-url("global/social-footer@2x.png");
  background-position: -60px 0;
  width: 30px;
  height: 22px;
  background-size: auto 100%;
  text-indent: -9999em;
  float: left;
}

footer a.facebook {
  background-image: image-url("global/social-footer@2x.png");
  background-position: -90px 0;
  width: 10px;
  height: 22px;
  background-size: auto 100%;
  text-indent: -9999em;
  float: left;
}

footer .container .footer-search {
  @include span(12 of 12 last);
  text-align: center;
  display: none;
}

footer .container .footer-search input {
  height: 30px;
  width: 70%;
  border: solid 1px #565455;
}

footer form {
  float: left;
  margin-top: 40px;
  position: relative;
  width: 100%;
}

footer .search-form label {
  background-image: image-url("global/icon-search-eeeeee.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 16px auto;
  cursor: pointer;
  display: block;
  height: 19px;
  position: absolute;
  right: 16%;
  top: 5px;
  width: 19px;
  z-index: 1;
}

footer #top-footer-links a:hover {
  color: #9d1b1b;
}

/* break points for footer */

@include breakpoint($tablet-max) {
  footer .container .col1 {
    width: 50%;
  }

  footer .container .col2 {
    width: 43%;
  }

  footer .container .col3 {
    width: 50%;
    clear: both;
  }

  footer .container .col4 {
    width: 43%;
    float: left;
  }

  footer .social-container {
    margin-left: 50%;
  }

  footer #bottom-section .container .ft-btm-col2 {
    width: 50%;
  }

  footer #bottom-section .container .ft-btm-col3 {
    width :30%;
  }

  #site-content h1 {
    margin-top: 0;
  }
}

@include breakpoint($phone-max) {

  footer #bottom-section .container .ft-btm-col1 {
   width: 100%;
    text-align: center;
  }

  footer #bottom-section .container .ft-btm-col2 {
    width: 100%;
  }

  footer #bottom-section .container .ft-btm-col3 {
    text-align: center;
    float: none;
    width: 100%;
  }

  footer #bottom-section .logo {
    margin: 0 auto;
  }

  #top-footer-links {
    display: none;
  }

  footer .container .col1 {
    width: 100%;
  }

  footer .container .col2 {
    width: 100%;
  }

  footer .container .col3 {
    width: 100%;
    clear: both;
  }

  footer .container .col4 {
    width: 100%;
  }

  footer .social-container {
    margin-left: 0;
    margin: 0 auto;
  }

  footer .column-widths {
    width: 100%;
  }
}

/* styles from umbraco */

.clearfix {
}
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.input-block-level {
  box-sizing: border-box;
  display: block;
  min-height: 28px;
  width: 100%;
}
body {
  background-color: white;
  color: #333333;
  font-family: "Source Sans Pro",sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
.row {
  margin-left: -30px;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 30px;
}

code, pre {
  border-radius: 3px;
  color: #333333;
  font-family: Menlo,Monaco,"Courier New",monospace;
  font-size: 12px;
  padding: 0 3px 2px;
}
code {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: #dd1144;
  padding: 2px 4px;
}
pre {
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  font-size: 12.025px;
  line-height: 18px;
  margin: 0 0 9px;
  padding: 8.5px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
pre.prettyprint {
  margin-bottom: 18px;
}
pre code {
  background-color: transparent;
  border: 0 none;
  color: inherit;
  padding: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
form {
  margin: 0 0 18px;
}

label, input, button, select, textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
input, button, select, textarea {
  font-family: "Source Sans Pro",sans-serif;
}
label {
  color: #333333;
  display: block;
  margin-bottom: 5px;
}
input, textarea, select, .uneditable-input {
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #555555;
  display: inline-block;
  font-size: 13px;
  height: 18px;
  line-height: 18px;
  margin-bottom: 9px;
  padding: 4px;
  width: 210px;
}
.uneditable-textarea {
  height: auto;
  width: auto;
}
label input, label textarea, label select {
  display: block;
}
input[type="image"], input[type="checkbox"], input[type="radio"] {
  border-radius: 0;
  cursor: pointer;
  height: auto;
  line-height: normal;
  margin: 3px 0;
  padding: 0;
  width: auto;
}
input[type="image"] {
  border: 0 none;
}
input[type="file"] {
  background-color: initial;
  border: initial;
  box-shadow: none;
  line-height: initial;
  padding: initial;
  width: auto;
}
input[type="button"], input[type="reset"], input[type="submit"] {
  height: auto;
  width: auto;
}
select, input[type="file"] {
  height: 28px;
  line-height: 28px;
}
input[type="file"] {
}
select {
  background-color: white;
  width: 220px;
}
select[multiple], select[size] {
  height: auto;
}
input[type="image"] {
  box-shadow: none;
}
textarea {
  height: auto;
}
input[type="hidden"] {
  display: none;
}
.radio, .checkbox {
  padding-left: 18px;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
  padding-top: 5px;
}
.radio.inline, .checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
  padding-top: 5px;
  vertical-align: middle;
}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input, textarea {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
input:focus, textarea:focus {
  border-color: rgba(100, 20, 20, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(100, 20, 20, 0.6);
  outline: 0 none;
}
input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus, select:focus {
  box-shadow: none;
  outline: thin dotted #333333;
  outline-offset: -2px;
}

.search-query {
  border-radius: 14px;
  margin-bottom: 0;
  padding-left: 14px;
  padding-right: 14px;
}


.dropdown {
  position: relative;
}
.dropdown-toggle {
}
.dropdown-toggle:active, .open .dropdown-toggle {
  outline: 0 none;
}
.caret {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid black;
  content: "";
  display: inline-block;
  height: 0;
  opacity: 0.3;
  vertical-align: top;
  width: 0;
}
.dropdown .caret {
  margin-left: 2px;
  margin-top: 8px;
}
.dropdown:hover .caret, .open.dropdown .caret {
  opacity: 1;
}
.dropdown-menu {
  background-clip: padding-box;
  background-color: white;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: none;
  float: left;
  left: 0;
  list-style: outside none none;
  margin: 0;
  min-width: 160px;
  padding: 4px 0;
  position: absolute;
  top: 100%;
  z-index: 1000;
}
.dropdown-menu.pull-right {
  left: auto;
  right: 0;
}
.dropdown-menu .divider {
  background-color: #e5e5e5;
  border-bottom: 1px solid white;
  height: 1px;
  margin: 8px 1px;
  overflow: hidden;
}
.dropdown-menu a {
  clear: both;
  color: #333333;
  display: block;
  font-weight: normal;
  line-height: 18px;
  padding: 3px 15px;
  white-space: nowrap;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {
  background-color: #0088cc;
  color: white;
  text-decoration: none;
}
.dropdown.open {
}
.dropdown.open .dropdown-toggle {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
  color: white;
}
.dropdown.open .dropdown-menu {
  display: block;
}
.pull-right .dropdown-menu {
  left: auto;
  right: 0;
}

html {
  overflow-x: hidden;
}
body {
  background: none repeat scroll 0 0 white;
  color: #555555;
  font-family: "Source Sans Pro",arial,helvetica,sans-serif;
  overflow-x: hidden;
}
.ie8 body {
  width: 100%;
}
a:focus {
  outline: medium none;
}

img {
  display: block;
  height: auto;
  margin: 10px auto 20px;
  max-width: 100%;
  width: auto;
}
img.right {
  float: right;
  margin: 0 0 18px 25px;
}
img.right.push-top {
  margin-top: 55px;
}
img.left {
  float: left;
  margin: 0 25px 18px 0;
}
img.left.push-top {
  margin-top: 25px;
}

.subnav {
  background-color: #d52429;
  background-image: -moz-linear-gradient(center top , #e3252c, #c02225);
  background-repeat: repeat-x;
  color: white;
}
.subnav .container {
  padding: 10px 0;
}
.subnav ul {
  float: right;
  list-style-type: none;
  margin: 0;
}
.subnav ul li {
  float: left;
  font-size: 13px;
  margin-left: 3px;
}
.subnav ul li a {
  color: white;
}

header {
  background-color: #313131;
}

header.page-header {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #313131;
  border-color: #9d1b1b -moz-use-text-color -moz-use-text-color;
  height: 75px;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  transition: background-color 500ms ease 0s, border-color 500ms ease 0s;
  width: 100%;
  z-index: 9999;
  border-top: solid 5px #9d1b1b;
}
header.page-header * {
  box-sizing: border-box;
}
header.page-header .clearfix:before, header.page-header .clearfix:after {
  content: " ";
  display: table;
}
header.page-header .clearfix:after {
  clear: both;
}
header.page-header .img-responsive {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
header.page-header .img-block {
  display: block;
}
header.page-header .pull-right {
  float: right;
}
header.page-header .pull-left {
  float: left;
}
header.page-header.transparent {
  background-color: transparent;
  border-top: 5px solid transparent;
}
header.page-header.transparent.sticky {
  background-color: #313131;
  border-top: 5px solid #9d1b1b;
}
header.page-header .header-nav {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
header.page-header .header-nav > * {
  float: left;
}
header.page-header .column-1 {
  display: table;
  margin-left: 1%;
  padding-left: 1%;
  width: 20%;
}
header.page-header .column-2 {
  width: 78%;
}
header.page-header b, header.page-header i {
  font-style: normal;
  font-weight: normal;
}
header.page-header #logo {
  display: table-cell;
  height: 68px;
  margin: 0 auto;
  max-width: 220px;
  vertical-align: middle;
  width: 100%;
}
header.page-header #logo a {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}
header.page-header #logo b {
  display: block;
  position: absolute;
  text-indent: -9999px;
}
header.page-header #logo img {
  margin-left: 0;
  margin-top: 0;
  max-width: 170px;
}
header.page-header .mobile-menu-actions {
  display: none;
}
header.page-header .global-nav {
  font-family: sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.8px;
}
header.page-header *:focus, header.page-header *:active {
  outline: medium none;
}
header.page-header .global-nav li {
  list-style: outside none none;
}
header.page-header .global-nav > .level1 {
  display: inline-block;
  margin: 0;
  padding: 0;
}
header.page-header .global-nav .level1 > li {
  color: #f0f0f0;
  display: inline-block;
  float: left;
  font-size: 12.5px;
  height: 65px;
  position: relative;
}
header.page-header .global-nav .level1 > li.drop-down:after {
  border-bottom: 30px solid transparent;
  border-left: 120px solid transparent;
  border-right: 120px solid transparent;
  bottom: 0;
  content: "";
  display: none;
  height: 0;
  left: -120px;
  position: absolute;
  transition: opacity 300ms ease 0s;
  width: 100%;
  z-index: 2;
}
header.page-header .global-nav .level1 > li.drop-down:hover:after {
  display: block;
}
header.page-header .global-nav .level1 > li > a {
  display: block;
  font-weight: 600;
  line-height: 1;
  padding: 28px 22px;
  text-align: center;
  width: 100%;
}
header.page-header .global-nav .level1 > li > a, header.page-header .global-nav .level1 > li > a:link {
  color: #cacaca;
  letter-spacing: 1px;
  text-decoration: none;
}
header.page-header .global-nav .level1 > li > a:hover, header.page-header .global-nav .level1 > li > a:active {
  color: #f0f0f0;
  text-decoration: none;
}
header.page-header .global-nav .level1 > li:hover .level2, header.page-header .global-nav .level1 > li.active .level2 {
  max-height: none;
  opacity: 1;
  overflow: visible;
}
header.page-header .global-nav .level1 > li:first-child > a {
  padding-left: 0;
}
header.page-header .global-nav .level2 {
  background-color: #d8d8d8;
  display: block;
  left: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  transition: opacity 300ms ease 0s;
  width: 220px;
  margin-top: 5px;
}
header.page-header .global-nav .level2.level2.two-columns {
  width: 440px;
}
header.page-header .global-nav .level2 > ul {
  margin: 0;
  padding: 0;
}
header.page-header .global-nav .level2 > ul > li:first-child {
  margin-top: 10px;
}
header.page-header .global-nav .level2 a {
  color: black;
  display: block;
  font-weight: 300;
  padding: 6px 20px;
  text-decoration: none;
}
header.page-header .global-nav .level2 a:link {
  color: black;
  font-weight: 300;
  text-decoration: none;
}
header.page-header .global-nav .level2 a:hover {
  color: #9d1b1b;
}
header.page-header .global-nav .level2 .nav-end-cap a {
  padding: 0;
}
header.page-header .global-nav .level2:before {
  border-bottom: 10px solid #d8d8d8;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: 40px;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 1;
}
header.page-header .global-nav .level3 {
  margin: 0;
  padding: 0;
}
header.page-header .global-nav .level3 > li {
  margin-left: 0;
  padding-left: 1em;
}
header.page-header .global-nav .level3 > li > a:link {
  color: #828282;
}
header.page-header .global-nav .level3 > li > a:visited {
  color: #828282;
}
header.page-header .global-nav .level3 > li > a:hover {
  color: #9d1b1b;
}
header.page-header .nav-end-cap {
  display: block;
  margin-top: 10px;
}
header.page-header .nav-end-cap .img-we-are-hiring {
  max-width: 234px;
  padding-top: 7px;
}
header.page-header .nav-end-cap.grey {
  background-color: #6d6d6d;
  color: #eeeeee;
}
header.page-header .nav-end-cap.red {
  background-color: #9d1b1b;
  color: #eeeeee;
}
header.page-header .nav-end-cap.padded {
  padding: 10px;
}
header.page-header .two-columns > .nav-column {
  width: 49%;
}
header.page-header .two-columns > .nav-column + .nav-column {
  margin-left: 1%;
}
header.page-header .nav-column {
  float: left;
  margin-top: 10px;
}
header.page-header .nav-clear {
  clear: both;
  display: block;
}
header.page-header .nav-button > b {
  display: table;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 100%;
  margin-top: 3px;
}
header.page-header .nav-button > b > span {
  display: table-cell;
  vertical-align: middle;
}
header.page-header .nav-button-item {
  background-color: transparent;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
  color: #b6b6b6;
  font-weight: 600;
  height: auto;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 300ms ease 0s, border 300ms ease 0s;
}
header.page-header .nav-button-item:hover {
  background-color: #9d1b1b;
  border: 1px solid #9d1b1b;
  border-radius: 3px;
  color: #eeeeee;
  height: auto;
  padding: 5px 10px;
  text-decoration: none;
}
header.page-header .searchbox {
  overflow: hidden;
  padding-left: 10px;
  padding-top: 22px;
}
header.page-header .q-toggle {
  background-image: image-url("global/icon-search-eeeeee.svg");
}
header.page-header .search-form {
  float: left;
  min-height: 29px;
  position: relative;
}
header.page-header .search-form label {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  height: 17px;
  position: absolute;
  right: 4px;
  top: 3px;
  width: 17px;
  z-index: 1;
}
header.page-header .search-form input#q {
  color: #222222;
  min-height: 25px;
}
header.page-header .nav-search {
  background-color: transparent;
  border: medium none;
  border-radius: 3px;
  color: transparent;
  float: right;
  margin-right: 1px;
  max-width: 0;
  outline: medium none;
  padding: 6px 10px;
  transition: all 300ms ease 0s;
}
header.page-header .header-nav.search-active .nav-search {
  background-color: white;
  color: #aaaaaa;
  margin: 0;
  max-width: 154px;
  padding-left: 12px;
  padding-right: 20px;
}
header.page-header .search-form label {
  background-size: 16px auto;
}
@media (min-width: 768px) and (max-width: 1300px) {
  header.page-header .global-nav .level2.right {
    left: auto;
    right: 0;
  }
  header.page-header .global-nav .level2.right:before {
    left: auto;
    right: 40px;
  }
}
@media (min-width: 1150px) and (max-width: 1300px) {
  header.page-header .global-nav .level1 > li > a {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 1024px) and (max-width: 1149px) {
  header.page-header .global-nav .level1 > li > a {
    padding-left: 16px;
    padding-right: 16px;
    transition: padding 300ms ease 0s;
  }
  header.page-header .search-active .global-nav .level1 > li > a {
    padding-left: 8px;
    padding-right: 8px;
  }
  header.page-header .global-nav .level1 > li:first-child > a, header.page-header .search-active .globalnav .level1 > li > a {
    padding-left: 0;
  }
}
@media (max-width: 1023px) {
  header.page-header #logo img {
    margin-left: 0;
    margin-top: 0;
    max-width: 140px;
  }
  header.page-header .header-nav.search-active .global-nav .level1 > li > a {
    padding-left: 4px;
    padding-right: 4px;
  }
  header.page-header .header-nav.search-active .global-nav .level1 > li:first-child > a {
    padding-left: 0;
    padding-right: 3px;
  }
  header.page-header .global-nav .level1 > li > a {
    padding-left: 14px;
    padding-right: 14px;
    transition: padding 300ms ease 0s;
  }
  header.page-header .global-nav .nav-button .nav-button-item, header.page-header .global-nav .nav-button .nav-button-item:hover {
    padding: 5px 3px;
  }
  header.page-header .header-nav .searchbox {
    padding-left: 0;
    padding-right: 10px;
  }
  header.page-header .column-1 {
    margin-left: 1%;
    width: 15%;
  }
  header.page-header .column-2 {
    width: 84%;
  }
}
@media (max-width: 900px) {
  header.page-header .global-nav .level1 > li > a, header.page-header .header-nav .nav-button .nav-button-item {
    font-size: 9.5px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 16px;
  }
}
@media (max-width: 767px) {
  header.page-header, header.page-header.transparent {
    background-color: #313131;
    border-top: 2px solid #9d1b1b;
    height: 44px;
  }
  .show-mobile-menu header.page-header:before {
    border-bottom: 5px solid lightgrey;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 0;
    display: block;
    height: 0;
    position: absolute;
    right: 20px;
    width: 0;
  }
  header.page-header #logo {
    height: 43px;
    margin: 0;
  }
  header.page-header #logo img {
    margin-left: 0;
    margin-top: 0;
    max-width: 110px;
  }
  header.page-header .navigation-container {
    display: none;
  }
  header.page-header .column-1 {
    margin-left: 0;
    padding-left: 3%;
    width: 45%;
  }
  header.page-header .column-2 {
    padding-right: 3%;
    width: 55%;
  }
  header.page-header .mobile-menu-actions {
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 11px;
  }
  header.page-header .mobile-menu-actions .mobile-search-icon {
    background-image: image-url("global/icon-search-ffffff.svg");
    background-size: cover;
    display: inline-block;
    height: 12px;
    margin: 0 10px 0 0;
    position: relative;
    top: 1px;
    width: 12px;
  }
  header.page-header .mobile-menu-actions .mobile-menu-indicator {
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-right: 2px;
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle {
    display: inline-block;
    position: relative;
    top: -1px;
  }
  header.page-header .mobile-menu-actions .icon-bar {
    background-color: white;
    border-radius: 1px;
    display: block;
    height: 1px;
    transition: transform 500ms ease 0s, width 100ms ease 0s;
    width: 10px;
  }
  header.page-header .mobile-menu-actions .icon-bar + .icon-bar {
    margin-top: 2px;
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle.active .icon-bar:nth-child(2) {
    position: relative;
    top: -3px;
    width: 0;
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle.active .icon-bar + .icon-bar {
    margin: 0;
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle.active .icon-bar:nth-child(1) {
    position: relative;
    top: -1px;
    transform: rotate(45deg);
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle.active .icon-bar:nth-child(3) {
    position: relative;
    top: -3px;
    transform: rotate(-45deg);
  }
}
@media (max-device-height: 601px) {
  header.page-header, header.page-header.transparent {
    background-color: #313131;
    border-top: 2px solid #9d1b1b;
    height: 44px;
  }
  .show-mobile-menu header.page-header:before {
    border-bottom: 5px solid lightgrey;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    bottom: 0;
    display: block;
    height: 0;
    position: absolute;
    right: 20px;
    width: 0;
  }
  header.page-header #logo {
    height: 43px;
    margin: 0;
  }
  header.page-header #logo img {
    margin-left: 0;
    margin-top: 0;
    max-width: 110px;
  }
  header.page-header .navigation-container {
    display: none;
  }
  header.page-header .column-1 {
    margin-left: 0;
    padding-left: 3%;
    width: 45%;
  }
  header.page-header .column-2 {
    padding-right: 3%;
    width: 55%;
  }
  header.page-header .mobile-menu-actions {
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 11px;
  }
  header.page-header .mobile-menu-actions .mobile-search-icon {
    background-image: image-url("global/icon-search-ffffff.svg");
    background-size: cover;
    display: inline-block;
    height: 12px;
    margin: 0 10px 0 0;
    position: relative;
    top: 1px;
    width: 12px;
  }
  header.page-header .mobile-menu-actions .mobile-menu-indicator {
    color: white;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-right: 2px;
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle {
    display: inline-block;
    position: relative;
    top: -1px;
  }
  header.page-header .mobile-menu-actions .icon-bar {
    background-color: white;
    border-radius: 1px;
    display: block;
    height: 1px;
    transition: transform 500ms ease 0s, width 100ms ease 0s;
    width: 10px;
  }
  header.page-header .mobile-menu-actions .icon-bar + .icon-bar {
    margin-top: 2px;
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle.active .icon-bar:nth-child(2) {
    position: relative;
    top: -3px;
    width: 0;
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle.active .icon-bar + .icon-bar {
    margin: 0;
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle.active .icon-bar:nth-child(1) {
    position: relative;
    top: -1px;
    transform: rotate(45deg);
  }
  header.page-header .mobile-menu-actions .mobile-menu-toggle.active .icon-bar:nth-child(3) {
    position: relative;
    top: -3px;
    transform: rotate(-45deg);
  }
  .show-mobile-menu .node, .show-mobile-menu .large-news-ribbon, .show-mobile-menu .content {
    display: none;
  }
  .show-mobile-menu footer {
    background-color: lightgrey;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 20px;
    padding-top: 44px;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .show-mobile-menu footer .static .wrapper {
    border: medium none;
    box-sizing: border-box;
    padding: 0 20px;
    width: 100%;
  }
  .show-mobile-menu footer .static h3 {
    margin: 20px 0 0;
  }
  .show-mobile-menu footer .row.links, .show-mobile-menu footer .search-widget {
    display: block;
  }
  .show-mobile-menu footer .row.bottom {
    display: none;
  }
  .show-mobile-menu footer .row.links {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
  }
  .show-mobile-menu footer .row.links * {
    box-sizing: border-box;
  }
  .show-mobile-menu footer .row.links .span3 {
    margin-left: 1%;
    min-height: 315px;
    padding: 20px;
    width: 49%;
  }
  .show-mobile-menu footer .row.links .span3 h3 {
    margin-top: 0;
  }
  .show-mobile-menu footer .search-widget {
    margin: 30px auto 0;
    min-width: 200px;
    width: 70%;
  }
  .show-mobile-menu footer .search-widget, .show-mobile-menu footer .search-widget * {
    box-sizing: border-box;
  }
  .show-mobile-menu footer .search-widget .searchbox {
    overflow: hidden;
    padding-left: 10px;
    padding-top: 22px;
  }
  .show-mobile-menu footer .search-widget .search-form {
    float: left;
    margin-bottom: 0;
    position: relative;
    width: 100%;
  }
  .show-mobile-menu footer .search-widget .search-form label {
    background-image: image-url("global/icon-search-eeeeee.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 16px auto;
    cursor: pointer;
    display: block;
    height: 19px;
    position: absolute;
    right: 4px;
    top: 3px;
    width: 19px;
    z-index: 1;
  }
  .show-mobile-menu footer .search-widget .nav-search {
    border: 1px solid #888888;
    border-radius: 2px;
    box-shadow: none;
    min-height: 27px;
    outline: medium none;
    padding: 6px 10px;
    width: 100%;
  }
  footer .wrapper {
    width: 100%;
  }
  footer .row.links, footer .row.captora {
    display: none;
  }
}
@media (max-device-height: 601px) and (max-width: 500px) {
  .show-mobile-menu footer .row.links {
    max-width: none;
    width: 100%;
  }
  .show-mobile-menu footer .row.links * {
    box-sizing: border-box;
  }
  .show-mobile-menu footer .row.links .span3 {
    margin-left: 0;
    min-height: 0;
    padding: 5px 20px;
    width: 100%;
  }
  .show-mobile-menu footer .row.links .span3 h3 {
    margin-top: 0;
  }
}
.ie8 header.page-header {
  min-width: 1200px;
  position: absolute;
}
.ie8 .header-nav #logo {
  background-position: center center;
  background-repeat: no-repeat;
}
.ie8 .header-nav .q-toggle {
  background-image: image-url("global/icon-search.png");
}
.ie8 .header-nav .global-nav .level2:before {
  border-bottom: 10px solid #d8d8d8;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: "";
  display: block;
  height: 0;
  left: 50px;
  margin-left: -10px;
  opacity: 1;
  position: absolute;
  top: -10px;
  width: 0;
  z-index: 1;
}
.ie8 .header-nav .global-nav .level1 > li.drop-down:before {
  display: none;
}
.ie8 .header-nav .global-nav .level1 > li > a {
  padding: 28px 15px;
}
.ie8 #header-search-form {
  min-height: 23px;
  min-width: 20px;
}
.ie8 #header-search-form #q {
  display: none;
}
.ie8 .search-active #header-search-form {
  width: 200px;
}
.ie8 .search-active #header-search-form #q {
  display: block;
}