!!! 5
%html
  %head
    %link{:rel => "dns-prefetch", :href => "//d3ng1ewoxzx77l.cloudfront.net"}
    %link{:rel => "dns-prefetch", :href => "//www.google-analytics.com"}
    %link{:rel => "dns-prefetch", :href => "//www.googletagmanager.com"}
    %link{:rel => "dns-prefetch", :href => "//sjrtp2.marketo.com"}
    %link{:rel => "dns-prefetch", :href => "//www.bizographics.com"}
    %link{:rel => "dns-prefetch", :href => "//beacon-3.newrelic.com"}
    %link{:rel => "dns-prefetch", :href => "//ib.adnxs.com"}
    %link{:rel => "dns-prefetch", :href => "//ajax.googleapis.com"}
    %link{:rel => "dns-prefetch", :href => "//t.co"}
    %link{:rel => "dns-prefetch", :href => "//pixel.captora.com"}
    %link{:rel => "dns-prefetch", :href => "//stats.g.doubleclick.net"}
    %link{:rel => "dns-prefetch", :href => "//www.googleadservices.com"}
    %link{:rel => "dns-prefetch", :href => "//fonts.googleapis.com"}
    %link{:rel => "dns-prefetch", :href => "//colodin.s3.amazonaws.com"}
    %link{:rel => "dns-prefetch", :href => "//munchkin.marketo.net"}
    = display_meta_tags
    = csrf_meta_tags
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %style{:type => "text/css"}
      = Rails.application.assets.find_asset("#{params[:controller]}.css").to_s.html_safe
    = favicon_link_tag 'global/favicon.ico'
  %body
    %noscript
      %iframe{:src => '//www.googletagmanager.com/ns.html?id=GTM-NN47KX', :width => '0', :height => '0', :style => 'display:none;visibility:hidden'}
    %script
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NN47KX');
    = render 'shared/header'
    #site-content
      = yield
    = render 'shared/footer'
    = stylesheet_link_tag 'application', :media => 'all'
    = javascript_include_tag 'application'
